*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}

@import "base/variables";

@import "components/header";
@import "components/footer";

@import "views/index";
@import "views/productos";
@import "views/servicios";
@import "views/archivos";
@import "views/contactos";

/* ------------------------------------------------- */

/* inicio GENERAL */
main{
    background-color: $color-gris;
    color: $color-blanco;
    padding-bottom: 4%;
    font-family: 'Barlow', sans-serif;
}

h2{
    text-align: left;
    margin-bottom: 3%;
    font-size: $font-size-normal*2;
}

h3{
    text-align: center;
    margin-bottom: 3%;
}

h4{
    text-align: center;
    font-size: 130%;
    margin-top: 4%;
    margin-bottom: 2%;
}

iframe{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    display: block;
}

.bloqueBlanco{
    display: flex;
    flex-flow: column nowrap;
    background-color: $color-blanco;
    color: $color-grismedio;
    padding: 2% 4%;
    margin: 0% 4% 4% 4%;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-start;
    
    h2{
        text-align: center;
    }

    h3{
        font-size: $font-size-M+20%;
        text-align: center;
    }
}

.greyBackground{
    background-color: $color-grismedio;
    margin-bottom: 4%;
}

.sideText{
    margin-left: 8%;

    h2{
        font-size: $font-size-L;
        font-weight: 700;
        position: relative;
        z-index: 1;

        &::before{
            content: '';
            display: inline-block;
            width: 100%;
            height: 150%;
            background: $color-grismedio;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) skewX(30deg);
            z-index: -1;
        }
    }
}

.btn .btn-primary{
    background-color: $color-celeste;
}

/* fin GENERAL */
