/* Inicio FOOTER */

.footer{
    background: $color-grisoscuro linear-gradient(rgba(20, 20, 20, 1), rgba(10,10,10,10));
    color: $color-blanco;
    padding: 2% 4%;
    position: relative;
    z-index: 2;

    a{
        text-decoration: none;
        color: $color-blanco;
        transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;

        &:hover{
            color: $color-celeste;
            transition: 0.2s ease-in-out;
            -moz-transition: 0.2s ease-in-out;
            -webkit-transition: 0.2s ease-in-out;
        }
    }

    h2 {
        text-align: center;
        font-weight: 600;
    }

    &__info{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4%;
        font-size: $font-size-normal+10;

        i{
            color: $color-celeste;
        }

        &__brand{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            img{
                width: 50%;
            }

            p{
                font-size: $font-size-SM;
            }
        }

        &__dir{
            display: flex;
            flex-direction: row;
            align-items: baseline;

            i{
                margin-right: 2%;
            }
        }

        &__contact{
            
            div{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                
                i{
                    margin-right: 3%;
                }
            }
        }
    }

    &__social{

        &__links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

            a{
                margin: 2% 1% 0% 1%;
                color: $color-celeste;
                transition: 0.2s ease-in-out;
                -moz-transition: 0.2s ease-in-out;
                -webkit-transition: 0.2s ease-in-out;

                &:hover{
                    color: $color-blanco;
                    transition: 0.2s ease-in-out;
                    -moz-transition: 0.2s ease-in-out;
                    -webkit-transition: 0.2s ease-in-out;
                }
            }
        }

        &__credits{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            p{
                opacity: 60%;
                margin: 2% 1% 4% 1%;
            }

            a{
                transition: 0.1s ease-in-out;
                -moz-transition: 0.1s ease-in-out;
                -webkit-transition: 0.1s ease-in-out;

                &:hover{
                    transition: 0.1s ease-in-out;
                    -moz-transition: 0.1s ease-in-out;
                    -webkit-transition: 0.1s ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    /* INDEX: FOOTER */

    .footer{
        padding: 4% 8%;

        h2{
            font-size: $font-size-L;
            margin-bottom: 10%;
        }

        &__info{
            flex-direction: column;
            align-items: flex-start;

            &__brand{
                align-items: center;
            }
    
        }

        &__social{

            &__links{

                a{
                    margin: 2% 2% 0% 2%;
                }
            }

            &__credits{
                p{
                    text-align: center;
                }
            }
        }
    }
}

/* Fin FOOTER */