/* Inicio FOOTER */

.footer{
    background: $color-grisoscuro linear-gradient(rgba(20, 20, 20, 1), rgba(10,10,10,10));
    color: $color-blanco;
    padding: 2% 4%;
    position: relative;
    z-index: 2;

    a{
        text-decoration: none;
        color: $color-blanco;

        &:hover{
            color: $color-celeste;
        }
    }

    h2 {
        text-align: center;
        font-weight: 600;
    }

    &__info{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6%;
        font-size: $font-size-normal+10;

        i{
            color: $color-celeste;
        }

        &__brand{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 40%;
            }

            p{
                font-size: $font-size-SM;
            }
        }

        &__dir{
            display: flex;
            flex-direction: row;
            align-items: baseline;

            i{
                margin-right: 2%;
            }
        }

        &__contact{
            
            div{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                
                i{
                    margin-right: 3%;
                }
            }
        }

        &__social{
            width: 10%;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                margin-bottom: 10%;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    /* INDEX: FOOTER */

    .footer{
        padding: 4% 8%;

        h2{
            font-size: $font-size-L;
            margin-bottom: 10%;
        }

        &__info{
            flex-direction: column;
            align-items: flex-start;

            &__social{
                flex-direction: row;
                align-items: center;
                margin-bottom: 10%;

                a{
                    margin-right: 30%;
                }
            }
        }
    }
}

/* Fin FOOTER */