/* HEADER */

.header{
    background-color: $color-celeste;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1% 4% 1% 4%;
    position: sticky;
    top: 0%;
    z-index: 5;
    box-shadow: 0px 1px 10px;

    &__brand{
        &__logo{
            width: 80%;
        }
    }

    &__item{
        list-style-type: none;
        font-weight: 700;
        font-size: 120%;
        position: relative;
        text-align: center;
    }

    &__link{
        color: $color-blanco;
        text-decoration: none;
        text-align: right;

        &:hover{
            color: $color-celeste;
            background-color: $color-blanco;
            border-radius: 1px;
        }
    }
}

@media screen and (max-width: 480px) {

    /* HEADER */

    .header{

        &__brand{
            width: 60%;

            &__logo{
                width: 60%;
            }
        }

        &__list {

            li{
            font-size: 100%;
            }

            a{ 
                :active{
                color: $color-celeste;
                background-color: $color-blanco;
                }
            }
        }
    }
}