/* ------------------------------------------------- */

/* INDEX */

/* Inicio BOTÓN WHATSAPP */

.wppButton{
    background-color: $color-wpp;
    border: none;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    font: inherit;
    font-weight: 500;
	outline: inherit;
    position: fixed;
    right: 0%;
    bottom: 5%;
    padding: 1% 1% 1% 1%;
    z-index: 2;

    i{
        color: $color-blanco;
        padding: 0% 3% 0% 3%;
    }

    p{
        text-decoration: none;
        color: $color-blanco;
        margin-bottom: 0%;
    }
}

/* Fin BOTÓN WHATSAPP */

/* MAIN: inicio TÍTULOS */

.titleIndex{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url(../images/index_laser.jpg);
    background-size: cover;
    margin-bottom: 2%;

    img{
        max-width: 100%;
        margin-bottom: 4%;
    }

    h1{
        font-size: 400%;
        font-weight: 800;
    }
    
    p{
        font-weight: 400;
        font-size: 130%;
        margin: 2% 0% 2% 0%;
    }

    a{
        text-decoration: none;
    }
    
    &__list{
        color: $color-blanco;
        padding: 4% 20% 4% 4%;

        &--padExtra{
            color: $color-blanco;
            padding: 4% 20% 4% 4%;
            padding: 12% 25% 12% 4%;
        }

        &__button{

            button{
            border: none;
            background-color: $color-celeste;
            padding: 1%;
            border-radius: 5px;

                p{
                    font-size: 130%;
                    font-weight: 600;
                    color: $color-blanco;
                }
            }
        }
    }
}

/* MAIN: fin TÍTULOS */

/* INDEX: inicio TRAYECTORIA */

/*  
.trayectoria{
    margin: 0% 4% 0% 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
*/

.trayectoria{
    justify-content: center;

    /* 
    &__video{

        &__graphic{
            width: 400px;
            height: 200px;
            background-color: $color-celeste;
            transform: skewX(20deg);
            transform: translate(30px 30px);
        }
    }
     */

    &__historia{
        max-width: 50%;

        h2{
            font-size: $font-size-L;
            font-weight: 700;
            background-image: url(../images/vector_title.svg);
            background-size: cover;
        }
    }

    &__stats{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 4%;
    
        &__block{
            text-align: center;
            background-color: $color-gris;
            border: 2px solid $color-celeste;
            border-radius: 10px;
            width: 20%;
            padding: 1% 2% 1% 2%;
            margin: 0% 2% 0% 2%;

            h3{
                display: inline;
                font-size: $font-size-L;
                font-weight: 800;
            }

            p{
                font-weight: 500;
            }

            &--big{
                text-align: center;
                background-color: $color-gris;
                border: 2px solid $color-celeste;
                border-radius: 10px;
                width: 30%;
                padding: 2% 0% 2% 0%;

                h3{
                    display: inline;
                    font-size: $font-size-L+50;
                    font-weight: 800;
                }
    
                p{
                    font-weight: 500;
                }

                span{
                    font-size: $font-size-SM;
                }
            }
        }
    }
}

/* INDEX: fin TRAYECTORIA */

/* INDEX: inicio SERVICIOS */

.servicios{
    justify-content: center;

    h2{
        text-align: left;
        font-weight: 600;
        margin-bottom: 5%;
    }

    &__laser{

        h3{
            font-weight: 800;
            color: $color-grismedio;
        }

        p{
            font-size: $font-size-normal+10;
        }

        .bloqueBlanco{
            margin-top: 1rem;
            padding-top: 4rem;
    
            img{
                position: absolute;
                width: 6rem;
                transform: translateY(-115%);
            }
        }
    }
}

/* INDEX: fin SERVICIOS */

/* INDEX: inicio TERCEROS Y PRODUCTOS */

.tercProd{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin-top: 5%;

    &__bloque{

        h2{
            font-weight: 700;
            color: $color-grismedio;
        }

        &--big{

            /* buscar elemento para no repetir este codigo */
            h2{
                font-weight: 700;
            }

            img{
                max-width: 100%;
                border-radius: 5px;
            }
        }

        img{
            max-width: 50%;
            margin-top: 2%;
        }
    }

    .bloqueBlanco{
        width: 40%;
        margin: 0% 4% 0% 4%;
        transform: translateY(-40px);
    }

    .greyBackground{
        background-color: $color-grismedio;
        margin-bottom: 4%;
        padding-bottom: 0%;
    }

    .row{
        justify-content: center;
    }
}

/* INDEX: fin TERCEROS Y PRODUCTOS */

/* INDEX: inicio BENEFICIOS */

.beneficios{
    margin: 0% 10% 0% 10%;

    h2{
        font-size: $font-size-L;
        font-weight: 700;
        margin-bottom: 4%;
    }

    &__section{
        display: flex;
        margin-bottom: 2%;
    }    

    /* OJO: no parece estar correctamente hecha la clase */
    &__block{
        border: 2px solid $color-celeste;
        width: 40%;
        padding: 2%;
        text-align: left;
        font-size: 120%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            font-size: $font-size-XL;
            font-weight: 700;
        }
    }

    &__img{
        background-color: $color-grismedio;
        width: 100%;

        img{
            width: 100%;
        }
    }
}


/* INDEX: fin BENEFICIOS */