/* ------------------------------------------------- */

/* PRODUCTOS */

.sideText{

    ul{
    margin-left: 5%;
    font-size: 110%;
    }
}

.placas{

    .bloqueBlanco{
        justify-content: space-around;
    }

    img{
        max-width: 70%;
        border-radius: 5px;
    }
}