/* ------------------------------------------------- */

/* SERVICIOS */

.galeriaServ{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 4% 4%;

    &__images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        justify-content: space-evenly;
        margin: 0% 10% 0% 0%;
        row-gap: 1%;
        column-gap: 2%;

        img{
            width: 100%;
        }
    }

    &__materials{
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 2% 2% 2% 2%;
        border: 5px solid rgba(19, 131, 197, .5);
        border-radius: 10px;

        article{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }

            img{
                width: 80%;
                border-radius: 5px;
            }
    }
}