/* ------------------------------------------------- */

/* SERVICIOS */

.galeriaServ{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 4% 4%;

    &__images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
        justify-content: space-evenly;
        margin-right: 10%;
        row-gap: 3%;
        column-gap: 5%;

        img{
            width: 100%;
        }
    }

    &__materials{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 5px solid $color-celeste;
}
}