/* Variables */

/* Colores */

$color-celeste: rgb(19, 131, 197);
$color-gris: rgb( 50, 50, 50);
$color-grismedio: rgb(30, 30, 30);
$color-grisoscuro: rgb(15, 15, 15);
$color-blanco: rgb(241, 241, 241);
$color-wpp: rgb(41, 139, 92);

/* Fuentes */

$font-size-XL: 300%;
$font-size-L: 200%;
$font-size-M: 130%;
$font-size-normal: 100%;
$font-size-SM: 80%;

